<div class="content-container">
  <div class="content-area">
    <h2>Environments for this project</h2>
    <div class="clr-toggle-wrapper">
      <input type="checkbox" id="toggle1" name="toggle-basic1" checked class="clr-toggle">
      <label for="toggle1">Development</label>
    </div>
    <div class="clr-toggle-wrapper">
      <input type="checkbox" id="toggle2" name="toggle-basic2" checked class="clr-toggle">
      <label for="toggle2">Acceptance</label>
    </div>
    <div class="clr-toggle-wrapper">
      <input type="checkbox" id="toggle3" name="toggle-basic3" checked class="clr-toggle">
      <label for="toggle3">Production</label>
    </div>
    <button class="btn btn-primary" disabled>Save</button>
  </div>
</div>