<div class="content-container stretch" *ngIf="application">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <nav class="sidenav">
    <section class="sidenav-content">
      <section class="nav-group">
        <label for="tabexample2">Application <em>{{application.name}}</em></label>
        <ul class="nav-list">
          <li><a class="nav-link" routerLink="info" routerLinkActive="active">Info</a></li>
          <li><a class="nav-link" routerLink="sources" routerLinkActive="active">Source control</a></li>
          <li><a class="nav-link" routerLink="build" routerLinkActive="active">Build</a></li>
          <li><a class="nav-link" routerLink="configuration" routerLinkActive="active">Configuration</a></li>
          <li><a class="nav-link" routerLink="deploy" routerLinkActive="active">Deploy status</a></li>
        </ul>
      </section>
    </section>
  </nav>
</div>