<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="cog" class="is-solid" style="color: #fafafa;"></clr-icon>
        <span class="title">App Config v2</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['/projects']" routerLinkActive="active" class="nav-link"><span class="nav-text">Projects</span></a>
      <a [routerLink]="['/global-secrets']" routerLinkActive="active" class="nav-link"><span class="nav-text">Global secrets</span></a>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>