<div class="content-container">
  <div class="content-area" *ngIf="project">
    <h2>Secrets in <em>{{project.name}}</em></h2>
    <button class="btn btn-secondary" [routerLink]="['/projects', project.id, 'secrets', 'new']">New</button>
    <table class="table" *ngIf="records && records.length > 0; else noRecords">
      <thead>
        <tr>
          <th>Key</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td class="align-middle"><a [routerLink]="['/projects', project.id, 'secrets', record.id]">{{record.key}}</a>
          </td>
          <td>
            <button class="btn btn-danger-outline btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noRecords>
      <p>Click <em>new</em> to create a configuration secret.</p>
    </ng-template>
  </div>
</div>