<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="applications" routerLinkActive="active">Applications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="secrets" routerLinkActive="active">Secrets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="environments" routerLinkActive="active">Environments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="versions" routerLinkActive="active">Versions</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>